#noAccount {
    background-color: #f7f8fa;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
}

#incTitle, #historyTitle {
    font-size: 0.7rem;
    font-weight: 700;
    font-family: Work Sans !important;
    color: #718096;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin: 8px 0;
    width: calc(93vw + 40px);
    text-align: left;
    padding-left: 4px;
}